:root {
  --color-dark: #1a1a1a;
  --color-white: #ffffff;
  --color-purple: #9747ff;
  --color-orange: #e68c36;

  --color-bg: var(--color-dark);
  --color-text: var(--color-white);
  --color-accent: var(--color-purple);
  --font-family: var(--font-fredoka), Inter, sans-serif;
}

/* Portrait phones */
@media (max-width: 575.98px) {
}

/* Land-scape phones */
@media (max-width: 767.98px) {
}

/* Tablets */
@media (max-width: 991.98px) {
  :root {
    --container-width: 700px;
  }
}

/* Desktops */
@media (max-width: 1199.98px) {
  :root {
    --container-width: 920px;
  }
}

/* Large desktops */
@media (min-width: 1200px) {
  :root {
    --container-width: 1140px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}
